aws_region = "ap-southeast-1"
aws_profile = "default"

project_name = "tesorow-prod"
environment  = "production"

vpc_cidr               =
availability_zones     =
public_subnet_cidrs    =
private_subnet_cidrs   =

rds_identifier            =
rds_engine_version        =
rds_instance_class        =
rds_allocated_storage     =
rds_max_allocated_storage =
rds_database_name         =
rds_master_username       =
rds_master_password       =
rds_backup_retention_days =
rds_multi_az              =

alb_target_group_port = 8080
alb_listener_port     = 80

tags = {
  Environment = "production"
  Project     = "tesorow-prod"
  ManagedBy   = "terraform"
}